* {
    margin: 0;
    box-sizing: border-box;
}

body {
    min-width: 300px;
}

header {
    background-color: #0B0C10;
    height: 100px;

    padding: 10px;
    
    /* Text */
    font-size: 1rem;
    color: #45A29E;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    display: flex;

    align-items: center;
}

.header-wrapper {
    width: clamp(320px, 80%, 1000px);
    margin: 0 auto;
}


.hero {
    background-color: rgb(17, 16, 13);
    background-image: url(../img/bg-hero-section.jpg);
    background-size: cover;
    background-position: top;
    height: clamp(200px, 50vw, 300px);
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-wrapper {
    height: inherit;
    width: clamp(320px, 80%, 1000px);
    padding: 0;
    position: relative;
}

.hero-wrapper img {
    height: clamp(200px, 50vw, 300px);
    
    
    /* Element Position */
    position: absolute;
    bottom: 0;
    z-index: 10;
}

.hero-card {

    /* Style */
    background-color: #0B0C10;
    opacity: .8;
    min-height: 120px;
    width: 50%;
    box-shadow: 3px 3px 3px 1px black;

    padding: 10px;

    /* Element Position */
    position: absolute;
    right: 0;
    top: 10%;
    z-index: 20;

    /* Text */
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: .8rem;
}

.hero-card p {
    margin-bottom: 12px;
}

.hero-card #miname {
    color: orange;
    font-size: 4vw;
    font-weight: 700;
}

.hero-card a {
    /* Style */
    box-sizing: border-box;
    background-color: orange;
    padding: 2px;
    border-radius: 3px;

    /* Text */
    color:#0B0C10;
    font-size: .8rem;
    font-weight: 700;
    text-decoration: none;

    transition: 500ms;
}

.hero-card a:hover {
    background-color: orange;
    color: white
}

@media(min-width: 768px){
    .hero-card {
        /* Element Position */
        top: 30%;
        right: 5%;
        padding: 20px;
    }

    .hero-card #miname {
        font-size: 2vw;
        font-weight: 700;
    }
}

@media(min-width: 1024px){
    .hero-card {
    
        /* Element Position */
        right: 10%;
    }

    .hero-card #miname {
        font-size: 2vw;
        font-weight: 700;
    }
}