* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #323;

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 1rem;
}

.card {
    background-color: transparent;
    height: 150px;
    width: 150px;

    display: flex;
    justify-content: center;
    align-items: center;

    perspective: 1000px;
}

.card .inner {
    position: relative;
    height: 100%;
    width: 100%;
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
}

.card:hover .inner {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    height:100%;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
}

.front {
    background-color: dodgerblue;
}

.back {
    background-color: hotpink;
    transform: rotateY(180deg);
}